body{
    background-color:aquamarine;
    margin:0;
    padding:0;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    font-family: 'Press Start 2P', cursive;
}

img{
    height: 150px;
    width: 150px;
    border-radius:30px;
}


.scoreLabel{
    display:flex;
    justify-content:space-evenly;
}

div>h2{
    /*border:2px solid yellow;*/
}

.scoreContainer{
    display:flex;
    justify-content:space-evenly;
    gap:100px;
}

.announcer{
    text-align:center;
    font-size: 30px;
}

.playerChoice>img{
    transform: scaleX(-1);
}

.header, .footer{
    background-color:gray;
    display:flex;
    justify-content:center;
}

.choiceContainer{
    display:flex;
    justify-content:space-evenly;
    flex:1;
}

.playerChoice, .compChoice{
   /*border:2px solid black;*/
   display:flex;
   flex-direction:column;
   justify-content:space-evenly;
   gap:10px;
}


