body{
    background-color:#3882F6;
    margin:0;
    padding:0;
    min-height:100vh;
    display:flex;
    justify-content:center;
    flex-direction:column;
    font-family: 'Press Start 2P', cursive;
}

img{
    height: 150px;
    width: 150px;
    border-radius:30px;
}

.playerChoice>img{
    transform: scaleX(-1);
}

.scoreSection{
    border:5px ridge purple;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    width: 50em;
    height:10em;
    max-width:50em;
    margin: 25px auto;
    padding:1.5em;
}

.scoreLabel{
    display:flex;
    justify-content:space-around;
}

div>h2{
    /*border:2px solid yellow;*/
}

.scoreContainer{
    display:flex;
    justify-content:center;
    gap:24em;
}

.announcer{
    text-align:center;
    font-size: 30px;
}

.header, .footer{
    background-color:#1F2937;
    display:flex;
    justify-content:center;
}

.choiceContainer{
    display:flex;
    justify-content:space-evenly;
    flex:1;
}

.playerChoice, .compChoice{
   /*border:2px solid black;*/
   display:flex;
   flex-direction:column;
   justify-content:space-evenly;
   gap:10px;
}


